[*.cs]

# CA2100: Review SQL queries for security vulnerabilities
dotnet_diagnostic.ca2100.severity=none

# CA1819: Properties should not return arrays
dotnet_diagnostic.ca1819.severity=none

# CA1031: Do not catch general exception types
dotnet_diagnostic.ca1031.severity=none

# CA1034: Nested types should not be visible
dotnet_diagnostic.ca1034.severity=none

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.cs1998.severity=none

# IDE0011: Add braces
csharp_prefer_braces=false:silent

# CA1303
dotnet_code_quality.excluded_type_names_with_derived_types = System.Exception
dotnet_code_quality.CA1303.excluded_type_names_with_derived_types = System.Exception

#Custom 
csharp_style_throw_expression=true:error
csharp_prefer_simple_default_expression=true:error
csharp_style_inlined_variable_declaration=true:error
csharp_style_pattern_matching_over_as_with_null_check=true:error
csharp_style_pattern_matching_over_is_with_cast_check=true:error
csharp_style_expression_bodied_local_functions=true:error
csharp_style_expression_bodied_lambdas=true:error
csharp_style_expression_bodied_accessors=true:error
csharp_style_expression_bodied_properties=true:error
csharp_style_expression_bodied_operators=true:error
csharp_style_expression_bodied_constructors=true:error
csharp_style_expression_bodied_methods=true:error
csharp_style_prefer_range_operator=true:error
csharp_prefer_simple_using_statement=true:error
csharp_style_deconstructed_variable_declaration=true:error
csharp_style_implicit_object_creation_when_type_is_apparent=false

#Resharper shit
[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_expression_bodied_accessors=true:error
csharp_style_expression_bodied_constructors=true:error
csharp_style_expression_bodied_methods=true:error
csharp_style_expression_bodied_properties=true:error
csharp_style_var_for_built_in_types=true:suggestion
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.severity=none
dotnet_naming_rule.private_instance_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols=private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix=_
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=true:suggestion
dotnet_style_qualification_for_field=true:suggestion
dotnet_style_qualification_for_method=true:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_expression=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multiline_switch_expression=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_align_tuple_components=true
resharper_apply_on_completion=true
resharper_braces_for_dowhile=required_for_multiline_statement
resharper_braces_for_fixed=required_for_multiline_statement
resharper_braces_for_for=required_for_multiline_statement
resharper_braces_for_foreach=required_for_multiline_statement
resharper_braces_for_ifelse=required_for_multiline_statement
resharper_braces_for_lock=required_for_multiline_statement
resharper_braces_for_using=required_for_multiline_statement
resharper_braces_for_while=required_for_multiline_statement
resharper_braces_redundant=true
resharper_csharp_align_first_arg_by_paren=true
resharper_csharp_align_multiline_parameter=true
resharper_csharp_align_multiple_declaration=true
resharper_csharp_empty_block_style=together_same_line
resharper_csharp_int_align_comments=true
resharper_csharp_outdent_commas=true
resharper_csharp_outdent_dots=true
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_before_declaration_rpar=false
resharper_for_other_types=use_explicit_type
resharper_int_align_assignments=true
resharper_int_align_binary_expressions=true
resharper_int_align_fields=true
resharper_int_align_methods=true
resharper_int_align_nested_ternary=true
resharper_int_align_parameters=true
resharper_int_align_properties=true
resharper_int_align_switch_expressions=true
resharper_int_align_switch_sections=true
resharper_int_align_variables=true
resharper_keep_existing_attribute_arrangement=true
resharper_keep_existing_expr_member_arrangement=false
resharper_local_function_body=expression_body
resharper_method_or_operator_body=expression_body
resharper_parentheses_non_obvious_operations=none, shift, bitwise_and, bitwise_exclusive_or, bitwise_inclusive_or, bitwise, null_coalescing, lowest
resharper_place_method_attribute_on_same_line=if_owner_is_single_line
resharper_place_simple_embedded_block_on_same_line=true
resharper_place_simple_method_on_single_line=true
resharper_place_simple_switch_expression_on_single_line=true
resharper_place_type_attribute_on_same_line=if_owner_is_single_line
resharper_prefer_explicit_discard_declaration=true
resharper_prefer_separate_deconstructed_variables_declaration=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_wrap_before_declaration_rpar=false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_arrange_var_keywords_in_deconstructing_declaration_highlighting=error
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_empty_general_catch_clause_highlighting=none
resharper_return_value_of_pure_method_is_not_used_highlighting=hint
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=none
resharper_variable_hides_outer_variable_highlighting=none

[*.{c,c++,cc,cp,cpp,cu,cuh,cxx,h,hh,hpp,hxx,inc,inl,ino,ipp,mpp,proto,tpp}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2
