[submodule "GLaDOSV3.Module.Default"]
	path = GLaDOSV3.Module.Default
	url = https://github.com/botGLaDOSV3/GLaDOSV3.Module.Default.git
	branch = main
[submodule "GLaDOSV3.Module.ServerBackup"]
	path = GLaDOSV3.Module.ServerBackup
	url = https://github.com/botGLaDOSV3/GLaDOSV3.Module.ServerBackup.git
	branch = main
[submodule "GLaDOSV3.Module.Music"]
	path = GLaDOSV3.Module.Music
	url = https://github.com/botGLaDOSV3/GLaDOSV3.Module.Music.git
	branch = main
[submodule "GLaDOSV3.Module.GTAService"]
	path = GLaDOSV3.Module.GTAService
	url = https://github.com/botGLaDOSV3/GLaDOSV3.Module.GTAService.git
	branch = main
[submodule "GLaDOSV3.Module.ImageGenerator"]
	path = GLaDOSV3.Module.ImageGenerator
	url = https://github.com/botGLaDOSV3/GLaDOSV3.Module.ImageGenerator.git
	branch = main
[submodule "GLaDOSV3.Module.Developers"]
	path = GLaDOSV3.Module.Developers
	url = https://github.com/botGLaDOSV3/GLaDOSV3.Module.Developers
[submodule "GLaDOSV3.Module.Logger"]
	path = GLaDOSV3.Module.Logger
	url = https://github.com/botGLaDOSV3/GLaDOSV3.Module.Logger.git
